/**.topo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background: rgb(0, 119, 255);
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
    color: white;
    
}

.menu li a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu a:hover {
    color: purple;
}
.banner {
   
   background: purple;
}**/
.topo {
    margin:  auto;
    width: 900px;
}
#banner {
    background: rgb(0, 153, 255);
    display: flex;
}
.nav-bar {
    width: 900px;
    margin: auto;
    display: flex;

    justify-content: center; 
    gap: 10px;
}


.nav-bar a {

    background: rgb(0, 47, 255);
    color: rgb(223, 222, 222);
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    border-color: rgb(0, 4, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.nav-bar a:hover {
    background: rgb(0, 153, 255);

}
